body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 50px;
}

#quizContainer {
    margin-top: 30px;
}

.question {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

    .question input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 5px;
        width: 450px;
    }

button {
    margin-top: 20px;
    margin-right: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

    button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    button#startButton {
        margin-top: 0;
    }

.error {
    border-color: red;
}

.required-field.invalid {
    border: 1px solid red;
}

.invalid {
    border: 2px solid red;
}

#loadButton {
    padding: 10px 20px;
    background-color: #28a745;
}

    #loadButton:hover {
        background-color: #218838;
    }

    #loadButton:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

#questionInputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#scoreContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

    #scoreContainer input,
    #scoreContainer label {
        margin-right: 5px;
    }

    #scoreContainer label {
        display: inline-block;
        width: 120px;
    }

    #scoreContainer input {
        width: 40px;
        padding: 2px;
    }

#questionInputContainer label,
#questionInputContainer input,
#questionInputContainer button {
    margin: 0;
}

#questionInputContainer label {
    margin-right: 10px;
}

#questionInputContainer input {
    width: 40px;
}

#questionInputContainer button {
    padding: 5px 10px;
    margin-left: 20px;
}


#scoreAndPassingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#scoreContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

#passingQuestionsContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}


.choice-container {
    flex-wrap: wrap;
    align-items: center;
}

.choice-number-label {
    flex-shrink: 0;
    width: 160px;
    margin-right: 20px;
}

.choice-input {
    flex: 1;
    margin-right: 10px;
}

.delete-choice-button {
    margin: 0;
    padding: 5px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .delete-choice-button:hover {
        background-color: #c82333;
    }
